language: java
jdk:
- oraclejdk8
sudo: false
script:
- mvn clean
- mvn package -Pheroku -DskipTests=true
deploy:
  provider: heroku
  app: gsms-web
  api_key:
    secure: CvRNU75n9JdWvjArKttNfgIYD2fYqZcvaocNsU6LrvAUz4srJPh3WlGw8p9fYcBczlt0pBKXmA8zE60lvwEbDsXxXBFYuVf5F732lj8wW+HR+kpbJ5Dw9GmuVvERh8wV72o9h65pkTd7P3IXTNrw+CrcDKChIt5eZdBqsp7R/plbJX2+1js7Xr0Fn99/hyPhMOc8sL3tPt9ZNNkfQpWDqV/Z4BHyT7exUfjsYNa8X1Qh+QaCA0e6I3wckjpQTPoaarTivq4U+lLM0SQKXdjKSN1ED41o0655xIYX+yp7GpWEQ57H4xZUI6A7/QxPsYNZYnJFhA7NMd4whb/3+UyP/pUIij+5itT+AaijJGsZDAuY4zOzEq2ZYcownJfiRAnJ0q12udbfPMHxwF5yQvy0GDRJw0Sm0BGfFNtLCrYlXbOsOP24mjOJAzk1hLNZE5Z4cUhOutU51Cr1mGFpkimBbWSAA5OjHrfUVR7e7ZMl4ibLoaJHLJX/dooYVGcxOrepgcy+RUS/AcvhfMv95cL0aBtlbGtHlS71Yv6T3lBoKR3PM1PBZZPLR7R2j/PwKBqL1i+/+HPszOC0fcWfvCYxMvfx46IQwdTJYg4r/lxGQzNb6UZJv9uY1Oj+/Lv068/yN9mjQG+X6aarUOifL3FqtIeaLcK57YG5gkDw9hGSIKQ=
